<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
    	<img class="img--avatar" src="{{ site.avatar }}">
      <p>{{ site.description }} <br>
        Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
      </p>
    </div>
    <a href="http://www.freedomain.co.nr/" target="_blank" title="Free Domain .co.nr" rel="nofollow"><img src="http://srmznea.imdrv.net/but1.gif" width="88" height="31" border="0" alt="Free Domain .co.nr" /></a>
  </div>
</footer>
